#boxEins{
    display: flex;
    flex-direction: column;
    background-color: beige;
}

#boxZwei{
    display: flex;
    background-color: gainsboro;
    height: 500px;
    width: 1200px
}

#bewegendeBox{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}